{% extends "basic.html" %}

{% block title %}Профиль пользователя{% endblock %}


{% block content %}
<a class="btn btn-primary" href="{% url 'account:index' %}">Главная</a>
<h2>Профиль пользователя {{ user.email }}</h2>
<h3>Позиции сайта </h3>
<div>
    {% for ratings in site_ratings %}
       <p>Группа ключевых слов: {{ ratings.keywords_group }} </p>
       <p>Ключевое слово: {{ ratings.keyword }} </p>
       <p>Позиция: {{ ratings.position }} </p>
       <p>URL-site: {{ ratings.url_site }} </p>
    {% endfor %}
</div>
{% endblock %}
