{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

    <h2>Смена пароля пользователя {{ user.email }}</h2>
<p><a class="btn btn-primary" href="/">Вернуться назад</a></p>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Сменить пароль' %}{% endbuttons %}
</form>
{% endblock %}