{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Добавление ключевых слов{% endblock %}

{% block content %}
    <h2>Общая информация</h2>
    <p>Отслеживайте позиции вашего сайта в режиме реального времени</p>

    <form method="post" id="formIdForCreateKeywords"
          action="{% url 'project:keywords_create' project_id=view.kwargs.project_id %}">
        {% csrf_token %}

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id_name">Добавить слово:</label>
            <div class="col-md-9">
                <textarea name="addedKeywords" cols="40" rows="7" class="form-control" placeholder="Добавить слово"
                          title
                          required id="id_name"></textarea>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="selectKeywordsGroup">Группа ключевых слов:</label>
            <div class="col-md-9">
                <select name="keywords_group" class="form-control" title required id="idSelectKeywordsGroup">
                    {% for one_keywords_group in form.keywords_group %}
                        {{ one_keywords_group }}
                    {% endfor %}
                    <option value="-1" id="createGroup">Создать группу</option>
                </select>
                <div id="idCreateKeywordGroup" data-url="{{ url }}"></div>
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        {% buttons submit='Добавить ключевые слова' %}{% endbuttons %}
    </form>

    <a class="btn btn-primary" href="{% url 'project:search_system_create' project_id=view.kwargs.project_id %}">
        Далее </a>

{% endblock %}
