.js-selectize {
    width: 100%;
}

#idFormKeywordsGroup {
    margin-top: 20px;
    width: 400px ;
    height: 150px;
    background-color: seashell;

}
#idFormCreatingGroupOfKeywords {
    margin-top: 20px;
    width: 400px ;
    height: 150px;
    background-color: seashell;



}



