{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Информация о группе ключевых слов{% endblock %}


{% block content %}
<p><a class="btn btn-primary" href="{% url 'project:project_profile' %}">Вернуться назад</a></p>
    <p>Название группы: {{ keywordsgroup.name }}</p>
    <a class="btn btn-warning" href="#">Изменить</a>
    <a class="btn btn-danger" href="#">Удалить</a>
{% endblock %}



