{% load bootstrap4 static project_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Project{% endblock %}</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">

    </head>

    <body class="container-fluid">
        <div class="row">
            <ul class="col nav justify-content-end border">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-5" data-toggle="dropdown"
                        href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">{{ user.email }}</a>
                        <div class="dropdown-menu mr-5">
                            <a class="dropdown-item" href="{% url 'project:project_profile' %}">Все проекты</a>
                            <a class="dropdown-item" href="{% url 'project:project_create' %}">Добавить проект</a>
                            <a class="dropdown-item" href="{% url 'account:password_change' %}">Изменить пароль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account:logout' %}">Выйти</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">Вход</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}">
                Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row">

        </div>

<div class="row">
    <div class="col-2 border">
        {% get_projects request.user %}
    </div>
    <div class="col-8 border">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-2 border">
    </div>
</div>

<div class="row">

</div>
        {% bootstrap_javascript jquery='full' %}
        <script src="{% static '/assets/js/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
        <script type="module" src="{% static '/js/main.js' %}"></script>
</body>
</html>