<div class="row">
    Проекты:
</div>
<div class="row border">
    <ul>
        {% for my_project in my_projects %}
            <a class="btn btn-info" href="{% url 'project:project_detail' my_project.slug %}">{{ my_project.name }}</a>
        {% empty %}
            <li>нет проектов</li>
        {% endfor %}
    </ul>
</div>
<div class="row border">
    <a class="btn btn-info" target="_blank" href="{% url 'project:check_all_positions' %}">Проверить все позиции</a>
</div>