{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Добавление проекта{% endblock %}

{% block content %}
<h2>Общая информация</h2>
<p>Отслеживайте позиции вашего сайта в режиме реального времени</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{ next }}">
    {% buttons submit='Далее' %}{% endbuttons %}
</form>


{% endblock %}
