{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Удаление проекта{% endblock %}

{% block content %}
<h2>Удаление проекта {{ object.name }}</h2>
<p><a class="btn btn-primary" href="{% url 'project:project_detail' pk=project.pk %}">Вернуться назад</a></p>
<form method="post">
    {% csrf_token %}
    {% buttons submit='Удалить' %}{% endbuttons %}
</form>
{% endblock %}
