{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Информация о проекте{% endblock %}


{% block content %}
<p><a class="btn btn-primary" href="{% url 'project:project_profile' %}">Вернуться назад</a></p>
    <p>Название проекта: {{ project.name }}</p>
    <p>Адрес сайта: {{ project.domain }}</p>
    <p>Глубина сбора позиций: {{ project.limit_position }}</p>
    <p>Периодичность проверок: {{ project.start_check }}</p>
    <p>Дата создания проекта: {{ project.created }}</p>
    <a class="btn btn-warning" href="{% url 'project:project_change' project.slug %}">Изменить</a>
    <a class="btn btn-danger" href="{% url 'project:project_delete' project.slug %}">Удалить</a>

<h5>Поисковые системы проекта:</h5>
<div>
        {% for search_system in search_systems %}
            <p><a class="btn btn-info" href="{% url 'project:search_system_detail' search_system.pk %}">{{ search_system.name}} ( {{search_system.city }} )</a></p>
{#            <a class="btn btn-info" href="{{ search_system.get_absolute_url }}">{{ search_system.name }}</a>#}
        {% endfor %}
</div>

<h5>Позиции проекта:</h5>
    <div>
            {% for position in positions %}
                <p>{{ position.keywords }} ( {{ position.position }} ) ( {{ position.search_system }} ) ( {{ position.updated }} )</p>
            {% endfor %}
    </div>


{% endblock %}



