{% extends "basic.html" %}

{% block title %}Профиль пользователя{% endblock %}


{% block content %}
<a class="btn btn-primary" href="{% url 'account:index' %}">Главная</a>
<h2>Профиль пользователя {{ user.email }}</h2>
<h3>Ваши проекты</h3>
<div>
    {% for project in project_list %}
        <p><a class="btn btn-info" href="{% url 'project:project_detail' project.slug %}">{{ project.name }}</a></p>
    {% endfor %}
</div>
{% endblock %}
