{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Поисковые системы{% endblock %}

{% block content %}
    <h2>Общая информация</h2>
    <p>Отслеживайте позиции вашего сайта в режиме реального времени</p>

    <form method="post" id="id_form_search_system"
          action="{% url 'project:search_system_create' project_id=view.kwargs.project_id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Добавить поисковую систему:</label>
            <select name="name" class="form-control" id="id_name">
                <option value="Yandex" selected>Яндекс</option>
                <option value="Google">Google</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_country">Страна:</label>
            <input type="text" name="country" class="form-control" maxlength="35" id="id_country" placeholder="Страна"
                   required>
        </div>

        <div class="form-group">
            <div class="search-cities-container">
                <label for="id_select_city">Регион</label>
                <input type="text" name="select_city" class="form-control" id="id_select_city" placeholder="Регион"
                       data-url="{{ url }}" required>
                <div class="search-results"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="id_language">Язык:</label>
            <select name="language" class="form-control" id="id_language">
                <option value="en">English</option>
                <option value="ru" selected>Русский</option>
            </select>
        </div>

        <div class="list-group">
            <p class="h3">Поисковые системы добавленные к этому проекту: </p>
            <ol id="searchSystemsContainer">
                {% for search_system in search_systems %}
                    <li> {{ search_system }} </li>
                {% endfor %}
            </ol>
        </div>

        <button type="submit" class="btn btn-success" id="id_button_search_system">Добавить поисковую
            систему
        </button>

        <input type="hidden" name="selected_city_id">

        <input type="hidden" name="next" value="{{ next }}">

    </form>

    <a class="btn btn-primary" href="{% url 'account:index' %}"> Далее </a>

{% endblock %}



