{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %}Информация о проекте{% endblock %}


{% block content %}
    <p><a class="btn btn-primary" href="{% url 'project:project_detail' searchsystem.project.slug %}">Вернуться
        назад</a></p>

    <h5>Группы ключевых слов проекта:</h5>
    {% for keywords_group in keywords_groups %}
        <div>
            <p class="btn btn-info">{{ keywords_group }}:</p>
            {% for keywords in keywords_group.rankingssite_set.all %}
                <ul>
                    <li>{{ keywords }}</li>
                </ul>
            {% endfor %}
            {#  <a class="btn btn-info" href="{{ keywords_group.get_absolute_url }}">{{ keywords_group.name }}</a>  #}
        </div>
    {% endfor %}

{% endblock %}



